[2022-02-09 14:31] torotimes opened #14 "Front page hero: Add image or simple animation"

[2022-02-09 14:32] torotimes opened #15 "Front page: Add component section for latest blog posts / news"

[2022-02-09 14:35] torotimes opened #16 "Join us 🎉: Develop a Q&A component"
Develop a list of 3-5 questions about what it's like to work here. Should be lighthearted and communicate our culture (startupforgrownups, transparency, global/remote, etc)

[2022-02-09 14:38] torotimes opened #17 "Footer menu: Change from "Docs" to "About""

[2022-02-09 14:39] torotimes opened #18 "Contact forms: Remove "Subscription count" from contact form"

[2022-02-09 14:43] torotimes opened #19 "Blog: Add CTA component as standard at the end of every blog post"
Today we point readers to read the next or previous post when they are done reading a post. We should keep that.

We should also have a standard CTA (call to action) - perhaps just the regular contact form component.

[2022-02-09 14:45] torotimes opened #20 "Blog: Should we allow for comments under our blogs?"
Pro: We come across as a more open and transparent company.
Con: This requires moderation and follow-up (we need to respond to comments and questions).

My view: We should consider doing this at a later stage.

[2022-02-09 14:54] torotimes opened #21 "Footer: Change from "Media and Press" to "Media and Analysts""

[2022-02-10 10:04] #21 closed, assigned to nobody

[2022-02-10 12:57] torotimes opened #23 "Footer: Change menu item from "Media and Press" to "Media and Analysts" (under "Connect")"

[2022-02-10 13:42] torotimes opened #24 "Contact page: Add office addresses back into https://www.wgtwo.com/contact/"
Perhaps just add it under the contact form?

[2022-02-10 14:46] torotimes opened #25 "Join us 🎉: Add direct contact details (name, image, email) to Theresa and Victoria"

[2022-02-10 15:15] torotimes opened #26 "Add meta description and preview/meta image"

[2022-02-10 16:56] torotimes opened #27 "Add newsletter signup form/button"

[2022-02-11 11:00] torotimes opened #28 "A bold idea: Publish a "reverse RFP" for prospective customers"

[2022-02-11 11:38] jonny-wg2 commented on #23
https://github.com/working-group-two/wgtwo.com/pull/29

[2022-02-11 11:39] #17 closed

[2022-02-11 11:41] jonny-wg2 commented on #20
Personally, I believe comments will be spammy and not so beneficial to have cmments. Perhaps something like the medium claps could be fun to have https://github.com/Kikobeats/react-clap-button

[2022-02-11 11:54] torotimes commented on #20
That's a good point. It might get spammy.

But note that posts like the one by Seb on specs behind the specs had more than 100 comments on Hacker News. So there might be something to tap into here.

My take: This is not a priority now (comments or claps) versus other development projects. So maybe we just save this for the future?

[2022-02-11 12:24] torotimes commented on #17
I didn't get that change.

My take is that people expect a menu option saying "About" - to learn about our company. Case studies are secondary to that, imho.

[2022-02-11 12:36] torotimes commented on #18
My thinking was that it is something very few would want to add to a general form like this - but yeah, it is not a required to fill it in. We can keep it as is for now.

[2022-02-11 12:59] jonny-wg2 commented on #17
ok updated https://github.com/working-group-two/wgtwo.com/commit/70a54052450e548fdad4c3dff838f46310611dc8

[2022-02-11 12:59] jonny-wg2 commented on #27
This needs to be described more...

[2022-02-11 13:00] jonny-wg2 commented on #20
Perhaps updating the blog to link to the hackernews post could be cool?

[2022-02-11 13:04] torotimes commented on #20
Yeah, that could work.

[2022-02-11 13:06] torotimes commented on #27
Yes, I'm working on the concept here (link below). No action needs to be taken on the website yet. Aiming for more clarity next week.

https://docs.google.com/document/d/1DU_jLtki7aAPss5xkBZyjjDVpxBAX-HJE0NQgPjhkmg/edit

[2022-02-11 13:35] torotimes commented on #20
We can close this issue for now

[2022-02-11 13:35] #20 closed

[2022-02-14 12:19] torotimes commented on #26
Here's a proposed meta description for now:

We help mobile operators innovate at scale, reduce cost and dive into new revenue streams - by building a mobile core network from the ground up and delivering it as-a-service.

[2022-02-16 12:55] torotimes commented on #24
Add:

Sommerrogata 17
0255 Oslo
Norway

[2022-02-16 13:08] gi-wg2 commented on #24
Address to the Trondheim office would be
[code]

[2022-02-16 13:12] torotimes opened #37 "Languages / localization: Convert Japanese site to new format and translate basic content."
Create subdomain (jp.wgtwo.com) or a structure like wgtwo.com/jp. Need to prepare our platform for multiple languages in the future, so we need to make it scaleable. Yet, important that we can make the localized pages relatively static to avoid continuous updating.

[2022-02-16 14:00] torotimes commented on #24
Jakobsbergsgatan 8
c/o ABCD 1st floor
11144 Stockholm
Sweden

[2022-02-17 11:13] lukas-wg2 opened #38 "Check for any accessibility issues"
Chrome have a neat tool to check for any CSS issues on a webpage, probably a good idea to check for potential contrast issues.
![Screenshot from 2022-02-17 12-04-51](https://user-images.githubusercontent.com/43165886/154469216-1c4f5d77-d746-45bb-821b-8c02e4a37e72.png)
![image](https://user-images.githubusercontent.com/43165886/154469555-5aaa97cd-79d5-48ca-9dd8-741752fd1b21.png)
![image](https://us

[2022-02-17 11:17] lukas-wg2 opened #39 "Buttons should have a "on hover" effect to show that it is a button"
These elements change when mouse cursor is over them

![onhover](https://user-images.githubusercontent.com/43165886/154470532-c32d915d-74b0-4a62-ba2f-b491c5d076c4.png)

None of the buttons on our webpage change when you mouse over them

![notveryhover](https://user-images.githubusercontent.com/43165886/154470547-17ccba30-4e20-4d5b-80fd-0f9847113c83.png)

[2022-02-18 13:37] jonny-wg2 commented on #24
I added the addresses in the docs. This is easiest so it can be updated by everyone.

www.wgtwo.com/contact
![image](https://user-images.githubusercontent.com/39831372/154692382-5a85d3f8-8f50-467d-ab3a-175eefed45a8.png)

![image](https://user-images.githubusercontent.com/39831372/154692511-35ac0481-f780-42fd-9838-b3c838fb6b59.png)

www.wgtwo.com/docs/about/offices
![image](https://user-images.gith

[2022-02-18 13:47] #24 closed

[2022-03-27 09:13] torotimes opened #51 "Host blog author images / avatars on our own repository (not LinkedIn)"
The blog author images currently break. We need to replace them with images hosted on our own repository. See example:

<img width="1006" alt="image" src="https://user-images.githubusercontent.com/98818609/161756621-98003df7-5b52-4b53-aa7a-7d486e77975c.png">

[2022-03-31 07:49] torotimes commented on #27
@mtl-wgtwo , can this be easily added as a component on the front page?

It's a form that adds subscribers to our newsletter distribution database.

It can be added below the "Adapting to your use case" component.

<div class style="min-height: calc(100vh - 15rem); padding-bottom: 10rem; padding-top: 5rem; background: #020000;"><div class="l-center-container"><div class="sc-dxgOiQ gDVPix"><h1 size

[2022-04-05 12:41] torotimes commented on #27
[newsletter signup form placement.pdf](https://github.com/working-group-two/wgtwo.com/files/8418173/newsletter.signup.form.placement.pdf)

[2022-04-05 12:49] torotimes commented on #51
This is the link to the author database: https://github.com/working-group-two/wgtwo.com/blob/main/blog/authors.yml

[2022-04-05 13:03] torotimes commented on #51
Here are all the missing author images

![annakennedy](https://user-images.githubusercontent.com/98818609/161759852-8bce9252-6505-44a0-b0df-10cc1a67de30.jpeg)
![davidåse](https://user-images.githubusercontent.com/98818609/161759853-56608316-98eb-4a4c-a029-fce505a179c0.jpeg)
![erlendprestgard](https://user-images.githubusercontent.com/98818609/161759856-217b715f-6455-4cb0-a864-eb4f8734e8ef.jpeg)
!

[2022-04-20 12:50] #51 closed

[2022-04-21 10:09] torotimes opened #57 "Request a demo: Upgrade the form with reasons to request a demo"
https://www.wgtwo.com/request-demo/

The form appears pretty naked. We need to add some messaging or reasons to request a demo, even though visitors will come to this form from another page (that led them to think about asking for a demo).

[2022-04-21 13:33] #27 closed

[2022-04-21 13:59] torotimes commented on #15
Closed with the help of @s-utstrand

[2022-04-21 13:59] #15 closed

[2022-04-28 10:50] #25 closed

[2022-04-28 10:50] torotimes commented on #25
This one is included in the larger /career project, so closing it

[2022-04-28 10:51] #16 closed

[2022-04-28 10:51] torotimes commented on #16
This one is included in the larger /career project, so closing it

[2022-04-28 10:57] #18 closed

[2022-04-28 10:57] torotimes commented on #18
We'll keep this field in the form for now

[2022-04-28 11:42] torotimes commented on #19
28 April comment: Let's add the newsletter subscription form to the bottom of each blog post

[2022-04-28 11:44] torotimes opened #59 "New /career pages"
A complete makeover of the current interaction related to team and careers

Project description is here:
https://docs.google.com/document/d/1Lj7OreKs0ETQzkY4M0w60-3dsr5_drFb-VjNHVyRHSM/edit

[2022-05-05 09:01] s-utstrand commented on #19
Not sure if it's possible to modify the template for the blog post, so this might not be possible. After a quick google search and checking the docusaurus documentation, I couldn't find anything on this. Do you know if this can be done, @jonny-wg2 ?

[2022-05-05 09:04] torotimes commented on #19
@jonny-wg2 is out on parental leave. Perhaps @david-wg2 or @mtl-wgtwo could take a quick look?

[2022-05-05 10:18] s-utstrand commented on #38
Are there any specific concerns regarding accessibility besides color contrast? I've run the WCAG color contrast checker, and all AA checks are passed (the two failing are the footer logo, where the checker thinks the font color is black, plus a hidden element).
![image](https://user-images.githubusercontent.com/104059760/166903802-05803742-e2a9-43a1-9419-f3a68980d825.png)

I have also tested keyb

[2022-05-06 07:23] david-wg2 commented on #19
I can have a look 👀

[2022-05-06 07:43] david-wg2 commented on #19
Unfortunately, this doesn't look very straightforward. The platform we've built the webpage on is intended for technical documentation (not creative websites/blogs), and the blog we currently have is enabled through a blog plugin. This plugin has limited configuration options.

[2022-05-06 07:58] torotimes commented on #19
Hey @david-wg2 thanks for looking into this! Ok, then I think we archive this issue. It's not a critical one ATM.

But in general, we do want to "convert" a casual reader into learning more about us or exploring other content. So we'll keep exploring opportunities for doing that on our site.

@s-utstrand I will then archive this issue. Thanks for exploring.

[2022-05-06 08:01] david-wg2 commented on #19
I've asked a question in the Docusaurus discord, I'll update if I get an answer.

[2022-05-06 08:07] david-wg2 commented on #19
They say you can change `BlogPostItem` by "wrapping" it: https://docusaurus.io/docs/swizzling#wrapping

[2022-05-06 08:16] s-utstrand commented on #19
Ah, that seems to be the trick. Thanks, @david-wg2
Should be a pretty easy fix then, so you can probably re-open the issue @torotimes

[2022-05-06 08:22] torotimes commented on #19
Reopened it now.

[2022-05-06 08:40] david-wg2 commented on #19
You are most welcome, sir!

[2022-05-09 10:48] torotimes commented on #38
@lukas-wg2 - please review input from @s-utstrand. We can close the issue if you're comfortable?

[2022-05-09 11:00] lukas-wg2 commented on #38
Yes, I'll close it! :)

[2022-05-09 11:00] #38 closed

[2022-05-09 12:29] torotimes opened #62 "Add "ATOS" to our partner logo list"
This is regarding front page of wgtwo.com

Let's add our partner Atos to our logo list on the front page.

<img width="1387" alt="image" src="https://user-images.githubusercontent.com/98818609/167409900-4bd1a7a9-e0b0-4a1e-be51-45551457d944.png">

[2022-05-09 12:30] torotimes commented on #62
Placement: Bottom right, next to MKI and below Telenor.

[2022-05-09 12:30] torotimes commented on #62
Link to asset: https://atos.net/wp-content/uploads/2021/07/atos-blue-logo.png

[2022-05-10 08:41] torotimes commented on #37
Hey @s-utstrand let's start adding this to our workflow planning. Our Japanese team has submitted their idea of how we can construct a Japanese landing page, with an associated contact form. So we can take that as a starting point for how we develop both the general interaction and the individual components.

Here's their input: https://docs.google.com/presentation/d/1Dvf_2cutOCbdqnti6jjo4WMdWx3Zc

[2022-05-10 13:01] s-utstrand commented on #37
This sound a bit comprehensive, and it's not completely clear to me specifically what needs to be done. I suggest we schedule a meeting to discuss this.

[2022-05-10 13:12] torotimes commented on #37
Yes, we need to meet about this one. Will invite you for a chat.

[2022-05-12 17:10] #62 closed

[2022-05-12 17:14] #19 closed

[2022-05-13 09:25] torotimes opened #66 "Contact forms: Add input validation to contact information"
It is currently possible to send us a message through the contact forms without being required to leave a valid email address.

https://www.wgtwo.com/contact/
https://www.wgtwo.com/request-demo/
https://www.wgtwo.com/technology/ (form at bottom of page)

So we need to add input validation to the EMAIL ADDRESS field.

[2022-05-20 07:01] #59 closed

[2022-05-31 09:20] torotimes commented on #37
Translation document: https://docs.google.com/document/d/1dJ9V3448JG-7pXw1R-ALYvkpmqGmdRsyupAhVUGggrg/edit

[2022-05-31 13:50] torotimes opened #77 "Front page: Two small language issues"
FROM:
"End of life is the thing of the past."

TO:
"End of life is a thing of the past."

---

FROM:
"Telecom operators on the wgtwo platform are able to configure their own subscriptions, giving them the freedom to add the products that meets their needs."

TO:
"Telecom operators on the wgtwo platform are able to configure their own subscriptions, giving them the freedom to add the products that

[2022-06-09 07:59] #77 closed

[2022-06-23 06:53] #66 closed

[2022-06-23 12:57] torotimes opened #85 "Add company info to /jp"
Hi Steinar,

Let's add this as a new component on /jp

[2022-06-23 12:57] torotimes commented on #85
![image](https://user-images.githubusercontent.com/98818609/175303971-67672f53-1d49-46a4-8f93-0fc7df9aac33.png)

[2022-06-24 08:15] s-utstrand commented on #85
@torotimes Is the text in the grey area the heading? Should it be included in this component?

[2022-06-24 08:18] torotimes commented on #85
We'll get back to you asap about this. It probably means Company info or something. But confirming that.

[2022-06-24 08:25] torotimes opened #86 "Change from "small operators" to "Mobile Network Operators""
On front page, change text from "Small Operators" to "Mobile Network Operators"

![image](https://user-images.githubusercontent.com/98818609/175495471-1651a527-4acd-40c3-8190-2827f0bc5c44.png)

[2022-06-24 09:01] s-utstrand commented on #85
I think I found the answer myself :lau
![image](https://user-images.githubusercontent.com/104059760/175494008-77d921a9-6a14-4cd5-a2f1-28297f54362e.png)

[2022-06-27 06:46] torotimes commented on #85
Indeed. Please use that. 🤓

[2022-06-28 08:33] torotimes opened #87 "Naoya test issue"
testing this

[2022-06-29 07:59] #87 closed

[2022-06-29 10:25] #85 closed

[2022-06-29 10:26] #86 closed

[2022-08-23 08:25] torotimes commented on #39
@Prid13 I assigned this one to you now. Why don't you have a look at how we might be able to develop a "on hover" effect on buttons? Before you start coding a solution, let's talk about how it might work. You can post suggestions here or we can do it on the phone.

[2022-08-23 14:27] Prid13 commented on #39
Awesome! Just spent some time making a few mockups of different hover animations, because I couldn't decide which one was best, if any at all.

Here are the suggestions (videos):

## Lighter background color on hover
https://user-images.githubusercontent.com/27897747/186182263-9a831217-d98a-4e18-9ef8-ae4371f7a782.mp4

_

## Move up on hover
https://user-images.githubusercontent.com/27897747/186183

[2022-08-23 14:51] torotimes commented on #39
Great!

I'll take a look tomorrow morning!

On Tue, Aug 23, 2022, 16:27 Prid13 ***@***.***> wrote:

[2022-08-24 07:28] jonny-wg2 commented on #39
Great stuff! I don't think we could go wrong with any option. If I had to choose, option 1 `Lighter background color on hover` is simple and elegant. For the secondary button on the homepage we could adopt the CSS from the header of `Talk to us`
<img width="256" alt="image" src="https://user-images.githubusercontent.com/39831372/186357475-d60bb77e-51da-43ea-815a-782ba96bc83a.png">

[2022-08-24 08:13] torotimes commented on #39
@jonny-wg2 this makes good sense. Are you suggesting that we use the CSS from the header or "Talk to us" for all the buttons throughout the site?

[2022-08-24 10:36] jonny-wg2 commented on #39
All of the previous examples from @Prid13 were a hover effect on a **dark** colored button. On the homescreen we have the Request a Demo button that is the same CSS as `Talk to us`. So my thinking is we could leverage the same CSS hover for `Talk to us` and use this for the `Request a demo`.

<img width="1353" alt="image" src="https://user-images.githubusercontent.com/39831372/186397718-8fe61828-1

[2022-08-24 10:46] torotimes commented on #39
Agree.

@Prid13 wanna start implementing? Let us know if you need clarifications.

[2022-08-24 12:54] Prid13 commented on #39
Good thoughts :)

The lighter background color works great, but it creates a rather awkward "dynamic" where the secondary button feels more "powerful"/"weightier" than the primary button. Take a look at the two buttons on the main page:

https://user-images.githubusercontent.com/27897747/186422799-8dc060d1-ff61-435c-8a70-c3cd8e704101.mp4

That's why I tried putting a different effect on the primar

[2022-08-24 18:53] torotimes opened #121 "Creative project: TechCoWannabe Generator"
@Prid13 - ref our discussions, take a look at this project document. It's a starting point at least. Let's have fun with this one! Definitely open to your ideas on how to improve the concept and the content.

https://docs.google.com/document/d/1Gsz2325hTcBLQ_B1MIppD0RgLJLlPdnRrs1T_x97iEg/edit

[2022-08-25 10:11] lukas-wg2 commented on #39
I like the "lighter background color on hover" the most I think. In the last example the border around the darker button stands out a bit much IMO. The primary buttons already stand out enough as primary button, and the the `on hover` on the primary button is still darker than the secondary buttons `on hover`

[2022-08-25 13:41] Prid13 commented on #39
@lukas-wg2 Thanks for your input, appreciate it. "Lighter background on hover" it is, then 😇👍

[2022-08-29 04:55] Prid13 commented on #121
Alrighty, just got it to an acceptable state where I'm satisfied with the result.

Don't know how to share a branch from my fork, but I made a PR request in case that helps you guys see the demo in action.
Check out branch `techcho-headline-gen`, and go to `/techcho` URL endpoint :)

Things that remain:
- Coding the Share button
  - I got caught up in trying to make a permalink system thinking tha

[2022-08-29 12:06] torotimes commented on #121
Hey @Prid13 - just some preliminary feedback: I generally like the styling of the page and how you've set up the interaction (with the four buttons in particular).

I have some immediate feedback regarding first list of drop-down menu options (Choose your Action) because some of the word don't make sense for the noun that follows. So I'll have a look at that.

As for the sharing buttons - I think

[2022-08-29 13:54] torotimes commented on #121
Hey again @Prid13

A comment from @jonny-wg2:

Do you wanna play around with that option - as action coming when you hit the "Share" button in your proposal?

[2022-08-30 04:45] Prid13 commented on #121
Great idea, @jonny-wg2 @torotimes -- and thanks for feedback 😇⭐

I've made a Twitter UI design, that appears upon clicking the "Share" button, and committed that to the PR. Have a look when you're free :)

[2022-08-31 13:16] torotimes commented on #121
Hi @Prid13

I sent you some headline/text revisions - check out my edits.

Something you can do:

Can you remove these from the "Choose your action" dropdown? They don't make sense to include in the list:

Also, can you remove the evil smile emoji from the "Choose your outcome"? Keep the sentence, remove the emoji. It doesn't make sense to include it in the final output (headline).

Twitter share

[2022-08-31 14:55] jonny-wg2 opened #124 "Create a dev deployment based on a branch"
Problem: One must always clone the repo and run the website locally to experience and see a change that is being worked on in a PR.
Goal: How can we automate a solution to deploy a dev website on netlify.com based on a pull request.

Idea solution (could be a better solution but what comes to my mind)
1. Developer create a branch with their proposed changes
2. We create a github action that will b

[2022-08-31 20:44] Prid13 commented on #121
For future reference, you can do this yourself by going to the file `src/util/HeadlineDictionary.ts` and removing any lines that you don't want to include (remove the whole line, with quotes `""` and comma `,` at end), or to add new words:

![image](https://user-images.githubusercontent.com/27897747/187778221-411698dc-18a1-4c66-8ae6-d99b9ef127cf.png)

I know there's a warning I put at the top of t

[2022-08-31 21:45] Prid13 commented on #121
@torotimes was able to implement a dead simple Twitter button that redirects the user to Twitter (in a new tab), and opens the tweet composer with the full text prefilled if the user is logged in on Twitter. If they're not, they're asked to log in (and hopefully the text is then prefilled in the composer as well, but haven't tested this).

![image](https://user-images.githubusercontent.com/2789774

[2022-09-01 09:07] torotimes commented on #121
Hi @jonny-wg2 and @Prid13 - I guess Zain needs to update the PR in order for me to see the changes?

[2022-09-01 11:47] Prid13 commented on #121
I don't know how this works, but I did push the update to the branch :) Here is the update: https://github.com/working-group-two/wgtwo.com/pull/123/commits/e8f18bd6d052aca9e04a47be9fb204cf891e642f

Have you tried pulling the updates/changes? No idea how this works, and you probably already know this, but I'm asking anyways -- have you pressed this button (it should say "Pull origin" or something)?

[2022-09-01 12:10] torotimes commented on #121
Yeah - this is very much on me to understand! 😅

[2022-09-01 12:37] torotimes commented on #121
I figured it out now! I just made an error when doing the git checkout thing in my terminal.

So I'm now able to see your revised PR.

Comments:
I think the Tweet functionality works now. Nice work.
Minor edits to it:

[code]
Is it it possible to automatically add " to the headline generated for Twitter? So it would look like this:

<img width="621" alt="image" src="https://user-images.githubuserc

[2022-09-01 12:45] Prid13 commented on #121
@torotimes you're a pro 🥇

In the file `src/pages/techco.tsx`, you can find the tweet text in lines 93-100 (labeled `generateTweetText`): https://github.com/Prid13/wgtwo.com/blob/e8f18bd6d052aca9e04a47be9fb204cf891e642f/website/src/pages/techco.tsx#L98

![image](https://user-images.githubusercontent.com/27897747/187916636-8ae5fc3d-009f-48e3-bdca-a4224ff2db3d.png)

Edit to your liking :)

[2022-09-01 12:54] torotimes commented on #121
Friggin hell, maybe I did it? Check out my commit.

Damn, I'm about to become a serious hacker.

Ok, I'm not.

[2022-09-01 13:01] Prid13 commented on #121
Holy God, I'm about to lose my job :'D

Amazing work 👏👏

![image](https://user-images.githubusercontent.com/27897747/187919688-bb516afc-338c-489e-b438-055d618aefef.png)

[2022-09-01 13:47] torotimes commented on #121
Og haha - jeg merket akkurat nå at jeg har glemt noe ganske sentralt fra twittermeldingen... nemlig en URL til selve generatoren... 😆

[2022-09-01 13:52] torotimes commented on #121
See new commit now

[2022-09-01 14:06] torotimes commented on #121
When I ran the site

I'm not getting this edit to the Twitter functionality when I ran the yarn thingy now.

[2022-09-01 14:42] Prid13 commented on #121
HAHA, glemte det helt selv 🤣🤣

I'm new to this workflow as well, so I'm as wise as you are. If I'm not mistaken, you are working from the _original_ repo on Github, right?

The changes we make are made to _my_ "fork" (duplicate repo where I can edit stuff without affect the original repo), or to a _branch_ in _my_ fork to be specific, and I don't know if you have access to that fork/branch. There'

[2022-09-02 08:37] torotimes commented on #124
@Prid13 You should take a look at this one. It might be a good development project for you. The first step now is to discuss various solutions - before we start developing something.

In short, the idea is to set up a dev website so that we can collaborate without cloning and running repos locally.

[2022-09-05 10:57] torotimes commented on #121
@Prid13 Check out my remaining little issue for now:

https://www.loom.com/share/f584342a79b548b783786c45ec34ef8a

Would you be able to fix it?

Here's the code we want both on the target twitter UI tab (which works fine now) and on the original wgtwo.com/techco page:

I think we're getting there now!

[2022-09-06 01:03] Prid13 commented on #121
@torotimes Whoops, nice catch, Tor! That's an oversight on my part, or rather, you caught me with my weak code ;)

I couldn't find the code either, so what I did was to **search** for it. `CTRL + F` is a Godsend. Turns out the Twitter text was in the `.tsx` file after all, on lines 193-203.

But just ignore that now. I've refactored the code a bit to have the Twitter text in 1 single place only, a

[2022-09-06 01:46] Prid13 commented on #124
This sounds like a great idea. I honestly think the proposed solution is as good as it can get 😇⭐

Do I keep developing in my own fork, or should we start creating branches in the original repo? In any case, I'm going to need access to the original repo if I am to take on this task 😅

[2022-09-06 18:47] torotimes commented on #121
Ok - thanks and awesome!

[2022-09-06 18:49] torotimes commented on #124
@jonny-wg2 we need your input on this one! is there an internal consensus on how to execute this?

[2022-09-06 19:40] jonny-wg2 commented on #124
I have added you to now a Maintain role for this repo. If you need more access let me know. For example, you will need access to the GH actions.
<img width="876" alt="image" src="https://user-images.githubusercontent.com/39831372/188723607-0d46fb09-285c-4461-9e86-2c9e309ff0d0.png">

In short, I believe we could just create PRs from the branch and not use the fork/pr model.

You could also try to s

[2022-09-08 18:56] torotimes opened #126 "New blog post - Q&A with Stephane"
Hey @Prid13

Can you set this up as a new blog post on /blog, please?

I'd like to have an image above the truncate if possible. See our latest blog posts for reference.

Here's the content:
https://docs.google.com/document/d/1q2ycPjP1mrnUoDlbawF7KtPOn_zDk96DgHGZhUwUrog/edit

![pic_0](https://user-images.githubusercontent.com/98818609/189202838-55053cba-20d6-40de-a4f8-c9eaffb61cc4.jpg)
![pic_1](ht

[2022-09-09 06:58] torotimes commented on #126
Hey again @Prid13

I started making the post here - but we're not done. Can you have a look at my code?

https://github.com/working-group-two/wgtwo.com/pull/127

[2022-09-12 03:20] Prid13 commented on #126
@torotimes GREAT job 👍!

Made a new component/element that lets you add images with a caption below them.
Check the latest commit and see if you're content with the results :)

[2022-09-12 06:49] torotimes commented on #121
Hey @Prid13

Two quick styling comments from the team here at Working Group Two:

1. Action buttons are a bit off on on mobile (see pic)
2. Select drop-down arrow is too close to the edge on mobile (see pic)

Wanna have a look?

![image](https://user-images.githubusercontent.com/98818609/189590254-cfb23cc6-4d3e-4575-8c63-1f23ffb89e7e.png)

![image](https://user-images.githubusercontent.com/9881860

[2022-09-12 11:56] #126 closed

[2022-09-12 11:56] torotimes commented on #126
Thanks for collab on this, Zain!

[2022-09-12 11:57] #39 closed

[2022-09-13 08:36] torotimes opened #130 "New Japanese landing page for ecommerce"
New content
BLA
partners

[2022-09-13 08:37] #130 closed

[2022-09-14 04:55] Prid13 commented on #124
@jonny-wg2 Finally made progress on this. Had to learn how to mentally parse Github Action YAML files 😅

Tried the rebase approach at first, but learned that Netlify could just "dump" all the files in a repo as-is onto its deployment server, so it made more sense to _build_ the website in the Github Action and deploy the build folder to `dev-pages` branch, which can now be deployed to Netlify as-i

[2022-09-14 14:53] jonny-wg2 commented on #124
Great work. Will make the netlify plugin integration. Will hopefully have it done tomorrow evening.

[2022-09-16 14:02] jonny-wg2 commented on #124
@Prid13 so I got the website deployed now - was super simple with netlify. We have the domain https://wgtwo-dev.netlify.app/

I didn't think about it until just now, but we want to make sure that google and other search engines don't index the website.  From a super quick google I found these two articles - unsure if it's the best way to do it - but would you be able to take a look at preventing r

[2022-09-16 14:26] jonny-wg2 commented on #124
pr to update the readme https://github.com/working-group-two/wgtwo.com/pull/137

[2022-09-18 02:29] Prid13 commented on #121
See https://github.com/working-group-two/wgtwo.com/pull/140

[2022-09-19 15:24] jonny-wg2 commented on #124
@Prid13 still an issue with the pipeline https://github.com/working-group-two/wgtwo.com/actions/runs/3083590830/jobs/4984705347#step:3:24

[2022-09-21 09:53] jonny-wg2 commented on #124
I merged your last pr and it appears to be working! Great job @Prid13

[2022-09-23 16:49] #124 closed

[2022-09-26 07:28] torotimes opened #149 "Fix broken Japanese sentences on /jp"
Japanese words break on the website

Develop code fixes

[2022-09-26 07:28] torotimes commented on #149
Thank you, Tor, can you give me more details.

[2022-09-26 07:30] #149 closed

[2022-09-27 17:27] jonny-wg2 opened #152 "Design a new case study page"
**Background**: wgtwo offers solutions for many type of business segments. You can view these different business segments in our case stories https://www.wgtwo.com/docs/case-studies/mvnx/

**Goal**:
Create a new "case study" template to be more visually compelling (image) https://www.vaultproject.io/use-cases/kubernetes
![image](https://user-images.githubusercontent.com/39831372/192593704-1ac629b7

[2022-09-28 06:45] torotimes commented on #152
Love this, @jonny-wg2

Hey @Prid13 , this looks like a nice project for you!

Up for it?

[2022-09-28 06:50] torotimes opened #153 "Mini language fix on Technology page"
Hi Zain,

Mini fix on this page:
https://www.wgtwo.com/technology/

FROM
Q: How many subscribers does wgtwo core support?
Our core provides operators with a flexible, affordable, fully featured MNO-grade core that can scale down to small private network deployments, and up to multi-million operators.

TO:
Q: How many subscribers does wgtwo core support?
Our core provides operators with a flexible,

[2022-09-28 08:24] jonny-wg2 commented on #152
Let me know if you want a quick 15 minute call to discuss/clarify.

Some additional points to add
- we would probably move all of the case studies https://www.wgtwo.com/docs/case-studies/mvnx/, outside of the docs (so there wouldn't be the sidebar on the left.
In addition, we would want a drop-down on the top header bar to populate all of the case studies.

The goal of this project is to use .mdx

[2022-09-28 11:26] torotimes commented on #121
Hey @Prid13

Can you fix a little bit on the button that says "Another"? We're getting some feedback that the button is a little unclear.

I think it should say "Generate again" or "Generate another" (what's your take?)

<img width="740" alt="image" src="https://user-images.githubusercontent.com/98818609/192766820-2ff34c71-bf6d-405b-a4e6-7826a516795f.png">

[2022-10-02 16:13] Prid13 commented on #121
@torotimes I thought long and hard about what to name the first button, and ended up with "Another" to avoid having 2 lines of text in that small button area -- that would've ruined the design 😅 But alas, what I feared came true after all -- the button wasn't as clear as I'd hoped it would be, even if I knew it wasn't.

Here's how a multiline button would look like:

![image](https://user-images.g

[2022-10-02 16:47] torotimes commented on #121
Generate again

😊

On Sun, Oct 2, 2022, 18:13 Prid13 ***@***.***> wrote:

[2022-10-05 04:25] Prid13 commented on #121
@torotimes Check it out live: https://wgtwo-dev.netlify.app/techco/ ⭐

https://github.com/working-group-two/wgtwo.com/pull/155

[2022-10-05 08:09] torotimes commented on #121
Looking really good!

And Netlify is definitely making things easy!

[2022-10-05 08:50] torotimes commented on #152
Hey @Prid13 how is this one going?

[2022-10-05 17:41] Prid13 commented on #152
@torotimes it's going surprisingly well :) Figured out how to make the pages with Markdown syntax. Now I need to figure out the best layout for the case studies and which components would be useful. Any design requests or component requests? :)

Like, from the illustration posted by Jonny, are there any sections you think would be useful as common and reusable components that you can easily add to

[2022-10-12 10:51] jonny-wg2 commented on #152
Will work on some content this week which will help clarify which components we need! 👍🏻

[2022-10-13 12:59] jonny-wg2 commented on #152
Text wip is here https://docs.google.com/document/d/17Xrd-1JsShzXwefjm5HO5VWEIvmgmOhRm_cuCaJuHuE/edit

[2022-10-14 06:42] jonny-wg2 commented on #152
I came up with an idea last night that we can leverage the existing layout/style here
<img width="1673" alt="image" src="https://user-images.githubusercontent.com/39831372/195779657-9de115ba-baad-45b4-8ee2-bd1da268694c.png">

[2022-10-14 06:53] torotimes commented on #152
Nice one!

On Fri, Oct 14, 2022, 08:42 Jonny Griffin ***@***.***> wrote:

[2022-10-17 13:13] #153 closed

[2022-10-17 13:19] torotimes opened #165 "Sharing buttons for blog posts"
Hey @Prid13  - right now we don't offer sharing buttons at the end (or top?) of our blog posts.

We could experiment with setting up sharing for LinkedIn, Twitter and maybe Reddit?

Do you wanna explore some options - or do you want me to suggest a couple of variations before you get started?

I'd like to keep it clean and classy, not too dominant in terms of style and shape.

There's some good th

[2022-10-18 14:56] apo2205 opened #167 "About Pull Requests"
@torotimes
Am I correct in my understanding that pull requests are done after forking?

[2022-10-19 05:19] torotimes commented on #167
Hi @apo2205 - yes you create a branch first. Then you do a pull request.

@jonny-wg2  - just to introduce you into the conversation, Rikuya is with our Japanese dev/design partner. Feel free to chip in.

[2022-10-19 07:42] jonny-wg2 commented on #167
You can create pull requests directly from the repo - or - from your forked repository. Essentially you can follow any git workflow.
Clone the repo
[code]
Create your new branch
[code]
Do you development and then add the updated files to your branch
[code]
Crate your commit message
[code]
Push your changes
[code]

[2022-10-19 07:43] jonny-wg2 commented on #165
Posthog has a nice share button layout. I like how it's not in color - taking away from the content.

<img width="240" alt="image" src="https://user-images.githubusercontent.com/39831372/196628074-4f33a3e2-cf31-487f-b585-a9a9563d4a87.png">

https://posthog.com/handbook/engineering/development-process

[2022-10-19 07:44] jonny-wg2 commented on #165
Perhaps we can do twitter, linkedin, reddit, email as share buttons

[2022-10-19 07:59] jonny-wg2 commented on #167
I have now updated the README.md with this content https://github.com/working-group-two/wgtwo.com/blob/main/README.md?plain=1#L10-L42

[2022-10-20 03:57] Prid13 commented on #165
Apologies for my tardiness, but here're some suggestions:

# At TOP

# On SIDEBAR

![Screenshot_8560](https://user-images.githubusercontent.com/27897747/196852682-e0835035-6462-4d49-9331-3435fd58734c.png)

# At BOTTOM

![Screenshot_8561](https://user-images.githubusercontent.com/27897747/196852702-dd319ed4-f52e-47e3-b532-1ba1bcb69382.png)

-----

Personal preference: top _and_ bottom would be hand

[2022-10-20 10:48] torotimes commented on #165
Hey @Prid13

Good stuff!

Let's go for this option:

On top (not in sidebar): The four social buttons plus the link button.

On bottom: the sharing tray, with a "drop down" with four buttons and the link button.

See example implementation here

![image](https://user-images.githubusercontent.com/98818609/196928673-f469e870-6349-469c-8258-ede8d4602700.png)

![image](https://user-images.githubuserco

[2022-10-20 10:56] jonny-wg2 opened #169 "Fix footer color for all docs pages"
Example of the issue on the footer https://www.wgtwo.com/docs/about/introduction/
<img width="1569" alt="image" src="https://user-images.githubusercontent.com/39831372/196930264-7fff858b-7d02-407e-8d51-3ed60268cb5f.png">

This issue only exists on wgtwo.com/docs/**** pages.

The solution should have the background color span a width 100% across the entire page.

[2022-10-20 23:35] apo2205 commented on #167
Thanks for the detailed explanation. I threw in a pull request.

[2022-10-21 06:51] torotimes commented on #167
Great - we're reviewing today!

@jonny-wg2, @Prid13 - wanna have a look at the code?

[2022-10-21 11:59] jonny-wg2 opened #172 "Have github actions auto apply yarn prettier in a new commit instead of failing the PR"
Problem: People forget to run `yarn prettier` and people use the web GUI to make changes. We have a GH actions that checks if yarn prettier and will fail the PR if yarn prettier needs to run.

Goal: If a PR requires yarn prettier, have the pipeline run yarn prettier and update the PR in a new commit with the changes.

[2022-10-23 05:27] Prid13 commented on #165
https://github.com/working-group-two/wgtwo.com/pull/173

[2022-10-23 13:29] torotimes commented on #165
Really really nice first impression, Zain :)

We're asking for input from the broader team. We'll get back to you with any feedback

[2022-10-24 07:19] #165 closed

[2022-10-24 08:54] Prid13 commented on #152
# PR
https://github.com/working-group-two/wgtwo.com/pull/174

## Screenshot of First Draft
![Case studies page](https://user-images.githubusercontent.com/27897747/197483300-159b20d8-e4c1-4996-878e-4001e1f0055c.png)

## Language/Syntax sneak peek
![image](https://user-images.githubusercontent.com/27897747/197487718-7de8d5cd-cace-49db-af82-daa2fec44287.png)

[2022-10-24 12:53] #167 closed

[2022-10-24 19:21] Prid13 commented on #152
**PR:** https://github.com/working-group-two/wgtwo.com/pull/174

**Screenshot Album:** https://www.yogile.com/uh2lwb8ityj
<sub>(password sent in mail. You can freely upload new photos :D)</sub>

[2022-11-02 11:12] OdaAndersen opened #178 "Fixes on career page"
1. Change email address from Victoiria@wgtwo.com to Hicks@wgtwo.com.
![image](https://user-images.githubusercontent.com/112557175/199474814-c5d6b0e2-8237-43d6-9200-2c4bfab651d1.png)

2. Update the following sentence "60+ engineers, 19+ different nationalities make up the wgtwo team. We collectively have spent centuries at Telenor, Telia, Ice, Google, PWC, Ericsson, Cisco, and more." to "75+ engine

[2022-11-05 18:39] Prid13 commented on #178
Finally fixed this -- sorry for the time it took, was a bit busy with other stuff 😅

The changes are available here: https://github.com/working-group-two/wgtwo.com/pull/180

Whenever someone is able to review them and approve them, you'll see them live on the official website :)

[2022-11-16 14:04] torotimes commented on #172
Hey @Prid13 can you have a look at this one? It would be really helpful. :)

[2022-11-18 03:24] Prid13 commented on #172
Will fix this asap :)

[2022-11-22 08:27] torotimes commented on #172
How's this one going, @Prid13 ?

[2022-11-22 16:00] Prid13 commented on #172
Sorry, was planning on finishing this over the weekend, but a lot of other stuff kept piling on :/ Will finish this by today 👍😇

[2022-11-22 16:15] torotimes commented on #172
Very cool! 😊

On Tue, Nov 22, 2022, 17:00 Prid13 ***@***.***> wrote:

[2022-11-22 18:35] Prid13 commented on #172
There we go: https://github.com/working-group-two/wgtwo.com/pull/189 🎉

[2022-11-23 12:30] #178 closed

[2022-11-23 12:30] torotimes commented on #169
@Prid13 wanna take a look at this?

[2022-11-23 12:31] #172 closed

[2022-11-23 12:31] torotimes commented on #172
Takk!!!

[2022-11-23 12:35] torotimes opened #191 "Fix link/meta tag issue"
Hi Zain,

We have a small issue on our site with wrongly generated links. The issue is that the tag adds an additional `/` to the URL.

See example here:

![image](https://user-images.githubusercontent.com/98818609/203547994-d2909139-ca62-4043-981c-6350671ce4b2.png)

![image](https://user-images.githubusercontent.com/98818609/203548044-ba521eca-8374-4c97-8ab7-38184e571c48.png)

Can you have a look

[2022-11-23 12:36] torotimes commented on #191
Some reference links from @jorunfa

i.e. related link and meta tags (that are wrongly generated by us):
https://developers.google.com/search/docs/crawling-indexing/consolidate-duplicate-urls
https://ogp.me/

[2022-11-23 12:37] torotimes commented on #191
If I didn't explain the problem particularly well, just let us know!

[2022-11-25 02:35] Prid13 commented on #191
Will look at this over the weekend and hopefully fix it 😇👍

[2022-11-25 10:03] #28 closed

[2022-11-25 10:05] torotimes opened #197 "Feature list and early beginnings of a "Reverse RFP""
Hey @Prid13 - this is a potentially big one for ya.

Have a look at the project description here. You have received access to it.

https://docs.google.com/document/d/1dtWzBPKMtpzJMchNnURtTZbQwIv2Of45aqYVNrjWsNc/edit

When you've read it, let us know and we'll talk about it to ensure we're relatively clear on the assignment.

[2022-11-25 10:49] jorunfa commented on #191
@Prid13: It's probably this trailing slash, but needs (manual) verification after removing it: https://github.com/working-group-two/wgtwo.com/blob/main/website/docusaurus.config.js#L8 (`<link>`s, `<meta>`s and some `<a>`s)

[2022-11-27 19:36] Prid13 commented on #191
@torotimes Mind-boggling how you managed to catch this minor bug 🤯👍

@jorunfa Right on the money -- thanks for making it easier for me 😅👍

Fixed here: https://github.com/working-group-two/wgtwo.com/pull/199

I've manually checked many of the links and they seem to be correct now, but can't guarantee it 100% as I didn't find any easy way to automate the link-checking process (including tags in `<he

[2022-11-28 10:37] jonny-wg2 opened #200 "Add conversion support for web form submission"
The goal is to enable conversion tracking. When a user sends a message, append `?send-message-success` to the URL.

Today, we have several places where users can submit messages, for example, https://www.wgtwo.com/contact/ or https://www.wgtwo.com/security/ or https://www.wgtwo.com/case-studies/

User journey:
1. user navigates to one of the sites to submit their details to get in touch with us
2.

[2022-11-29 16:44] Prid13 commented on #197
Hey, so I just finished the initial sketch of how I thought this could look like:

![Screenshot_508](https://user-images.githubusercontent.com/27897747/204587800-91892b65-cbf4-4aba-b8db-b6fe0571e48a.png)

-----

![Screenshot_509](https://user-images.githubusercontent.com/27897747/204588319-51dc0dd2-839d-47a9-8273-3d03587f20d5.png)

-----

![Screenshot_517](https://user-images.githubusercontent.com